$body-bg: #f6f6f6;
$body-color: #111;

$header-bg: #fff;

$green: rgb(132, 180, 20);
$magenta: rgb(225, 0, 120);

$primary: $magenta;
$secondary: $green;

$grid-gutter-width: 10px !default;

$pretty--color-default: $body-color;
$pretty--color-primary: $primary;
/*$pretty--color-info:$info;
$pretty--color-success:$success;
$pretty--color-warning:$warning;
$pretty--color-danger:$danger;
$pretty--color-dark:$dark;*/